@import './variables';

.gradient {
  background: linear-gradient(to right, #14b450, #9650a0, #dc3c3c);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-container {
  background-color: $charcoal;
}

.about-container {
  background-color: $off-white;
}

.landing-subtitle, .quote, .work-heading {
  color: $off-white;
}

.section-heading, .where-next-heading {
  color: $charcoal;
}



nav.navbar {
  background-color:$charcoal;
  .navbar-item.landing-nav-item {
   color: $off-white;
  }
  .navbar-item.about-nav-item {
    color: black;
   }
}

nav.about-nav {
background-color: $off-white;
}