@import './common/variables';

.work-container {
  height: 115vh;
  padding-top: 15vh;
  background-color: $charcoal;
}

.carousel-container {
  background-color: $teal;
  width: 100vw;
  margin: 0;
}